.online div,div.item div{
	cursor:pointer;
	
	height:40px;background-color:lightgreen;
	display:inline-block;
	text-align:right;
	margin:5px 8px;
	line-height:2.1em;
	padding:10px;
	padding-left:15px;
	width:200px;
	background:url("mp3.jpg") no-repeat,url("back.png");
	background-size:contain;
	border:2px solid #888888;
	border-radius:10px;
	word-wrap:break-word;
}
audio{
	top:100px;
}
#p{
	font-weight:700;
	font-style:italic;
}
#audioContainer{
	box-sizing:border-box;
	border-radius:9px;
	position:fixed;bottom:0px;width:80%;
	padding:10px;	
	height:150px;
	left:10%;
}
.online div:hover,.item div:hover{
color:lightgreen;
font-weight:800;
font-style:italic;
box-shadow:5px 5px 10px #aaaaaa;
word-wrap:break-word;
}
*{

}
